<h1>Show Lead</h1>

<ul>

  <li>
    <strong>Firstname:</strong>
    <%= @lead.firstname %>
  </li>

  <li>
    <strong>Lastname:</strong>
    <%= @lead.lastname %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @lead.phone %>
  </li>

  <li>
    <strong>Code:</strong>
    <%= @lead.code %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.lead_path(@conn, :edit, @lead) %></span>
<span><%= link "Back", to: Routes.lead_path(@conn, :index) %></span>
